{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

<article>
    <ul class="list">
        {{ $pages := .Pages }}
        {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
        {{ range (where $pages "Section" "!=" "") }}
        <li class="list__item">
            <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
            <time>{{ .Date.Format "January 2, 2006" }}</time>
        </li>
        {{ end }}
    </ul>
</article>

<small><p>More of my posts are on <a href="https://dev.to/wangonya">Dev.to</a></p></small>
